
.statList__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13px;
  align-items: center;
}

.statList__label{
  margin: 2px;
}

.statList__percentage{
  margin: 5px;
  font-size: x-large;
}