.profile__description {
  text-align: center;
}

.profile__avatar {
  padding: 25px;
  border-radius: 50%;
  max-width: 100px;
}

.profile__name {
  display: block;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.profile__tag {
  padding: 10px;
  display: block;
  font-size: 15px;
  color: grey;
  font-weight: 600;
}

.profile__location {
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  font-size: 15px;
  color: grey;
  font-weight: 600;
}
